.DS_Store
.idea
.svn
.vscode
.user.ini

/fastadmin/thinkphp
/fastadmin/vendor
/fastadmin/runtime
/fastadmin/public/uploads
/fastadmin.env

/vue/node_modules
/vue/dist
/vue/.env.local
/vue/.env.*.local
/vue/npm-debug.log*
/vue/yarn-debug.log*
/vue/yarn-error.log*
/vue/pnpm-debug.log*

